body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #dee5e5;
  background-color: #082D0F;
  font-size: 22px;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

a {
  color: #17b890;
  text-decoration: none;
  font-size: 60px;
}

a::after {
  color: #9dc5bb;
} 

.main {
  background-color: #5e807f;
  margin-top: 30px;
}

.label img {
  width: 100%;
}

img {
  width: 100%;
}

.content {
  width: 100%;
  margin: auto;

}

#about {
  padding: 0px 100px 0px 100px;
}

#team-members {
  padding-top: 40px;
}
